
/* TYPOGRAPHY */

@font-face {
    font-family: 'Killig';
    src: url('../font/killig/Killig.eot'); /* IE9 Compat Modes */
    src: url('../font/killig/Killig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/killig/Killig.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/killig/Killig.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/killig/Killig.svg#svgKillig') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'trajan';
    src: url('../font/trajan/TrajanPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../font/trajan/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/trajan/TrajanPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/trajan/TrajanPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/trajan/TrajanPro-Regular.svg#svgTrajanPro-Regular') format('svg'); /* Legacy iOS */
}

.font-killig{
    font-family: 'Killig', Sans-Serif;
}
.font-trajan{
    font-family: 'trajan', serif;
}

html,
body {
    font-family: 'trajan', serif;
    font-size: 10px;
    text-transform: lowercase;
}

*, *:before, *:after{
    box-sizing: border-box;
}

/* GLOBAL CODE */

h1, h2, h3, p {
    margin: 0;
}

a, a:hover{
    text-decoration: none;
    display: block;
}

.responsive-image{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.wine-text{
    color: #571e20;
}


/* ENTER */

.enter {
    background-image: url('../img/enter/bg_entrada.jpg');
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enter__content {
    width: 95%;
    margin: 0 auto;
}
@media (min-width: 600px) {
    .enter__content {
        max-width: 400px;
    }
}
_:-ms-input-placeholder, :root .enter__content {
    margin: 0;
}
.enter__content-lang {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enter__content-lang-link {
    text-align: center;
}
.enter__content-lang-link .btn-enter {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1.5px solid #571e20;
    border-radius: 0;
    text-decoration: none;
    text-align: center;
    word-spacing: -10px;
    transition: 250ms;
    padding: 6px 25px 0px;
    font-size: 3rem;
    color: #571e20;
    letter-spacing: 1px;
    line-height: 25px;
}
.enter__content-lang-link .btn-enter:hover,
.enter__content-lang-link .btn-enter:active,
.enter__content-lang-link .btn-enter:focus {
    background-color: #571e20;
    color: white;
}
.enter__content-lang-link span {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    font-weight: bold;
    font-size: 1.2rem;
    color: #571e20;
    margin-top: 5px;
}
.enter__content-social {
    width: 150px;
    margin: 25px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.enter__content-social .nav-social-link {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.enter__content-social .nav-social-link:last-child {
    margin-right: 0;
}
@media (min-width: 992px) {
    .enter__content-social .nav-social-link {
        margin-right: initial;
    }
}

/* LANDING */

.wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .wrap{
        height: auto;
        display: block;
    }
}

.obedientia{
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url('../img/obedientia/obedientia_presale_img_04_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex: 1;
}
@media (max-width: 768px) {
    .obedientia {
        margin-right: initial;
    }
}

.obedientia__content{
    display: flex;
    align-items: center;
    flex: 1;
}
@media (max-width: 768px) {
    .obedientia__content{
        flex-direction: column;
    }
}

.obedientia__content-left{
    flex-basis: 50%;
}
@media (max-width: 768px) {
    .obedientia__content-left{
        flex-basis: 100%;
    }
}
.obedientia__content-left div{
    display: none;
}
@media (max-width: 768px) {
    .obedientia__content-left div{
        display: block;
        margin-top: 50px;
        text-align: center;
    }
}
.obedientia__content-left h1{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 8px;
}
.obedientia__content-left p{
    font-size: 8rem;
}
@media (max-width: 768px) {
    .obedientia__content-left img{
        margin: 0;
    }
}

.obedientia__content-right{
    flex-basis: 50%;
    padding-right: 20px;
}
@media (max-width: 768px) {
    .obedientia__content-right{
        flex-basis: auto;
        margin: 0 auto;
        padding: 0 20px;
    }
}
.obedientia__content-right div{
    display: block;
    text-align: center;
}
.obedientia__content-right div:first-of-type h1{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 10px;
}
.obedientia__content-right div:first-of-type p{
    font-size: 10rem;
    line-height: 1;
}
.obedientia__content-right div:last-of-type{
    margin: 20px auto 30px;
    display: flex;
    flex-direction: column;
}
.obedientia__content-right div:last-of-type p{
    font-size: 2rem;
    text-align: center;
}
.obedientia__content-right div:last-of-type p:nth-child(1){
    color: #571e20;
}
.obedientia__content-right div:last-of-type p:nth-child(1) span{
    color: black;
    font-weight: 700;
}
.obedientia__content-right div:last-of-type p:nth-child(2) span,
.obedientia__content-right div:last-of-type p:nth-child(3) span{
    display: inline-block;
    background-color: #571e20;
    color: #e8c7c0;
    padding: 5px;
}
.obedientia__content-right .btn-buy{
    cursor: pointer;
    display: block;
    line-height: 1;
    max-width: 200px;
    margin: 0 auto;
    padding: 4px 0 2px;
    border: 1.5px solid #571e20;
    background: transparent;
    text-align: center;
    transition: 250ms;
    font-size: 3rem;
    color: #571e20;    
}
.obedientia__content-right .btn-buy:hover,
.obedientia__content-right .btn-buy:active,
.obedientia__content-right .btn-buy:focus{
    background: #571e20;
    color: white;   
}
@media (max-width: 768px) {
    .obedientia__content-right > div{
        display: none;
    }
    .obedientia__content-right .btn-buy{
        margin: 0 auto 30px;
    }
}

.obedientia__supporting{
    margin: 0 auto 20px;
}
@media (max-width: 768px) {
    .obedientia__supporting{
        margin-bottom: 40px;
    }
}
.obedientia__supporting-content{
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .obedientia__supporting-content{
        flex-direction: column;
    }
}

.obedientia__supporting-content div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
@media (max-width: 768px) {
    .obedientia__supporting-content div:first-of-type{
        margin-bottom: 20px;
    }
}

.obedientia__supporting-content p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .obedientia__supporting-content p{
        margin-bottom: 5px;
    }
}

.obedientia__supporting-logo{
    display: block;
    width: 70%;
}
@media (max-width: 768px) {
    .obedientia__supporting-logo{
        width: 100%;
    }
}
_:-ms-input-placeholder, :root .obedientia__supporting-logo {
    max-height: 60px;
}

/* FORM BUY */

.obedientia__formBuy{
    display: block;
    width: 100%;
    background-color: #441819;
}
.obedientia__formBuy p{
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    /* color: #e9d1d2; */
    color: #e8c7c0;
    line-height: 1.3;
    margin: 50px auto 30px;
}
.obedientia__formBuy form{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 50px;
}
.obedientia__formBuy input:not([type=submit]){
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #7c5e5e;
    padding-bottom: 10px;
    color: #7c5e5e;
}
.obedientia__formBuy input:not([type=submit])::-webkit-input-placeholder { 
    color: #7c5e5e; 
}
.obedientia__formBuy input:not([type=submit])::-moz-placeholder { 
    color: #7c5e5e; 
}
.obedientia__formBuy input:not([type=submit]):-ms-input-placeholder { 
    color: #7c5e5e; 
}
.obedientia__formBuy input:not([type=submit]):-moz-placeholder { 
    color: #7c5e5e; 
}
.obedientia__formBuy .formAdress{
    margin-bottom: 30px;
}
.obedientia__formBuy input:focus{
    outline: none;
}
.obedientia__formBuy input[type=submit]{
    cursor: pointer;
    margin: 0 auto;
    padding: 8px 50px;
    border: 1px solid #7c5e5e;
    background: transparent;
    color: #7c5e5e;    
    transition: 250ms;
}
.obedientia__formBuy input[type=submit]:hover,
.obedientia__formBuy input[type=submit]:active,
.obedientia__formBuy input[type=submit]:focus{
    background: #7c5e5e;
    color: white;   
}
.obedientia__formGroup {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}
.obedientia__formGroup div:first-of-type {
    flex: 1;
    margin-right: 30px;
}
.obedientia__formGroup div:last-of-type {
    flex-basis: 30%;
}

.obedientia__formBuy label[id$=-error]{
    position: relative;
    border-radius: 2px;
    background-color: #ff6666;
    color: white;
    padding: 4px;
    margin-top: 5px;
}
.obedientia__formBuy label[id$=-error]:after {
    bottom: 100%;
    left: 5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 102, 102, 0);
    border-bottom-color: #ff6666;
    border-width: 8px;
    margin-left: -8px;
}
@media (max-width: 768px) {
    .obedientia__formGroup {
        flex-direction: column;
        align-items: initial;
    }
    .obedientia__formGroup div:first-of-type {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .obedientia__formGroup div:last-of-type {
        flex-basis: 100%;
    }
}
@media (max-width: 425px) {
    .obedientia__formBuy p{
        font-size: 1.2rem;
    }
    .obedientia__formBuy p,
    .obedientia__formBuy form{
        width: 100%;
        padding: 0 20px;
    }
}

/* FOOTER */

footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60px;
    height: 60px;
    background-color: #571e20;
    font-size: 1.2rem;
    color: #e8c7c0;
}
@media (max-width: 768px) {
    footer{
        max-height: 40px;
        height: 40px;
        font-size: 1rem;
    }
}